
.container {
  margin: 15% 7%;
}

.btn {
  border-radius: 5px;
  font-size: 1.4rem;
  background-color: #7BDFF2;
  border: none;
  padding: 1% 3%;
  color: #727272;
}


@media only screen and (max-width: 980px) {

  .container {
    margin: 25% 7%;
  }
}
