.matchPageContainer {
  display: flex;
  justify-content: center;
  margin-top: 26%;
}

.matchContent {
  width: 100%;
}

.matchHeader {
  text-align: center;
}

.matchItem {
  display: flex;
  border: 1px solid #e5e5e5;
  background: #EFF7F6;
  border-radius: 10px;
  margin: 5%;
}

.matchPageContainer a {
  color: black;
  text-decoration: none;
}

.matchImage {
  height: 100px;
  width: 100px;
  margin: 5px 10px;
  border-radius: 10px;
}

.matchDescription {
  width: 100%;
  line-height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.matchDate {
  text-align: right;
  font-size: small;
  margin-bottom: 5px;
  margin-right: 5px;
}

.msgDiv {
  text-align: center;
}

.msgText {
  font-size: 2.5rem;
}

.btn {
  padding: 3% 4%;
  border: none;
  border-radius: 10px;
  background-color: #7BDFF2;
  margin-top: 5%;
  font-size: 1.2rem;
}

.btn:hover {
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .matchContent {
    width: 600px;
  }

}