.cardDiv, .matchBtn {
  position: absolute;
  padding: 5% 3%;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 20%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mainHeader {
  text-align: center;
}

.matchBtn {
  background-color: rgb(47, 47, 47);
  color: white;
  font-size: 1.3rem;
}


.name {
  font-size: 2.5rem;
}

.img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 5px solid white;
}

.matchBtn:hover {
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
}