.adminPageContainer {
  margin-top: 10%;
}

.adminContent {
}

.adminTableContent {
  display: flex;
  justify-content: center;
}

.adminHeader {
  text-align: center;
}

.adminTableContent thead {
  background: #7BDFF2;
}

.adminTableContent th {
  padding: 10px 0px;
  font-size: 18px;
}

.adminTableContent td {
  padding: 2px 10px;
  max-width: 500px;
  min-width: 80px;
}

.resetBtnContainer {
  display: flex;
  justify-content: center;
}

.resetBtn {
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0px;
  min-width: 200px;
  min-height: 50px;
  padding: 10px;
  background-color: #F2B5D4;
  border: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.resetBtn:hover {
  cursor: pointer;
  background-color: #f194c3;
}

@media screen and (max-width: 700px) {
  .adminDescriptions {
    display: none;
  }

  .adminContent {
    margin-top: 100px;
  }
  
}